@import 'font.css';

:root{
    --dark: #1d1d1d;
    --dark2: #191919;    
    --dark3: #141414;    
    --dark_gray: #787878;
    --green: #007d2f;
    --gray:#f5f5f5;
    --white:#ffffff;
    --ns400:'NunitoSans-Regular';
    --ws400:'WorkSans-Regular';
    --ms500:'Montserrat-Medium';
    --ms100:'Montserrat-Thin';
}


body{
    font-family: var(--ms500);
}
ul{
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.flex-grow-1{
    flex-grow: 1;
}
/* header start */
.header{
    background: url(../images/main_bg.jpg) no-repeat center /cover;
    min-height: 100vh;
}
.navbar{
    padding: 0 !important;
    margin: 0 !important;
}
.nav__link{
    margin: 0 0 0 32px;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--dark2);
    transition: .5s;
}
.nav__link:hover{
    color: var(--green);
}
.header-info__title{
    font-size: 36px;
    color: var(--dark3);
    padding-bottom: 30px;
}
.header-info__text{
    color: var(--dark2);
    font-family: var(--ms100);
    line-height: 24px;
    padding-bottom: 53px;
}
.header-info__btn{
    background: var(--green);
    font-size:  12px ;
    padding: 21px 57px;
    display: block;
    color: var(--white);
    width: max-content;
}
/* header end */

/* main start */
.main__info{
    text-align: center;
    padding: 97px 0 42px ;
}
.main-info__title{
    padding-bottom: 45px;
    color: var(--dark2);
    font-size: 35px;
    line-height: 25px;
}
.main-info__text{
    padding-bottom: 53px;
    color: var(--dark2);
    font-family: var(--ns400);
    font-size: 14px;
    line-height: 21px;
}
.main__skills{
    background: var(--gray);
}

/* main end */